<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">NG FOOD</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLinkActive="active" routerLinkActive="active" routerLink=""[routerLinkActiveOptions]="{exact: true}" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="comidas" class="nav-link">Comidas</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="bebidas" class="nav-link">Bebidas</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="cardapio" class="nav-link">Cardápio</a></li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="pedidos" class="nav-link"> 
            <span class="badge badge-pill btn btn-primary">
              {{numeroQntdTotalItensPedido()}}
            </span> 
              Pedidos
          </a>
        </li>
      </ul>
    </header>
</div>