/* You can add global styles to this file, and also import other style files */
.padraoCard{
    min-width: 350px;
    min-height: 250px;
    padding-top: 15px;
    padding-right: 5px;
}
.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}
